<!doctype html>
<html>
<head>
    <title> Example: load-stl </title>
</head>
<body>  

<input type="file" id="inputFile" multiple />

<script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/javascripts/three.js"></script>
<!--<script src="/javascripts/super-loader.min.js"></script>
   -->
<script src="http://localhost:4000/super-loader.js"></script>
<script src="/javascripts/size.js"></script> 
<script>  

    var scene, camera, renderer;
    var material, mesh;

    init();
    animate();

    function init() {
        scene = new THREE.Scene();
        camera = new THREE.PerspectiveCamera( 40, 800 / 600, 1, 10000 );
        camera.position.z = 500;
        material = new THREE.MeshPhongMaterial({ color: 0x666666 });
        renderer = new THREE.WebGLRenderer({
            antialias: true
        });
        // var light = new THREE.AmbientLight( 0xffffff, 1 );
        // scene.add( light );

        var dirLight = new THREE.DirectionalLight( 0xffffff, 2);
        scene.add( dirLight );

        renderer.setSize( 800, 600 );
        renderer.setClearColor( 0xf9f9f9 );
        document.body.appendChild( renderer.domElement );
    }

    function animate() {
        requestAnimationFrame( animate );
        // if( mesh ) mesh.rotation.x += 0.01;
        // if( mesh ) mesh.rotation.y += 0.01;
        if( mesh ) mesh.rotation.z += 0.01;
        renderer.render( scene, camera );
    }

    document.getElementById('inputFile').addEventListener('change', upload);

    function upload ( event ){
        console.log(event.target.files[ 0 ] );
        var t = superLoader( event.target.files[ 0 ] , {
            "noColor": true
        }); 
        t.on('parse.load', ( event, _mesh ) => {
            console.log('load');
            _mesh.material = material;
            scene.add( _mesh );
        }); 
    }

</script>
</body>
</html>