<!doctype html>
<html>
    <head>
        <title>stl reduction test</title>
        <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <table class="table table-bordered table-hover">
            <thead>
                <th></th>
                <% for( var i = 0; i < reduction.length; i++ ){ %>
                    <th><%= reduction[ i ] %>x</th>
                <% } %>
            </thead>
            <tbody>
                <% for( var i in items ){ %>
                    <tr>
                        <td><%= items[ i ] %></td>
                        <% for( var j = 0; j < reduction.length; j++ ){ %>
                            <% var item = data[ items[ i ] ][ reduction[ j ] ] %>
                            <td class="success">    
                                <%= item.time %><br />
                                <%= (item.size / 1e6).toFixed(2) %>MB
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>    
    </script>
    </body>
</html>
